<div class="authority-list-page">
    <section class="content">
        <div class="row">
            <div class="col-md-9">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Activity stream</h3>            
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <ul class="option_-h">
                                <li><a href="javascript:void(0)"><i class="fa fa-fw fa-file-o"></i><span>Message</span></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-fw fa-clock-o"></i><span>Event</span></a></li>
                            </ul>
                            <textarea class="form-control textarea" ng-model="message.content" placeholder="Enter text ..."></textarea>
                        </div>
                        <div ng-hide="message.option" class="form-group">
                            <input type="checkbox" ng-model="message.all" icheck /> {{$root.$lang.project_choose_all}}
                        </div>
                        <div class="form-group">
                            <input type="checkbox" ng-model="message.option" icheck ng-click="a()" /> Tùy chọn hiển thị
                        </div>
                        <div class="option-message" ng-show="message.option">
                            <div class="form-group">
                                <div class="col-sm-12" >
                                    <label for="inputEmail3" class="control-label">{{$root.$lang.project_department}}</label>
                                    <div id="container-department">
                                        <label ng-repeat="department in departments">
                                            <input type="checkbox" checklist-model="message.departments" checklist-value="department.id" icheck ng-change="clickCheckAll()"> {{department.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">{{$root.$lang.project_members}}</label>

                                <div class="col-sm-9">
                                    <ui-select multiple  ng-model="message.employees" theme="bootstrap" ng-disabled="disabled"  on-select="selectMember($item, $model)">
                                        <ui-select-match placeholder="">
                                            <img class="img-circle" src="{{$item.image}}" height="30" width="30" />
                                            {{$item.firstname}}
                                        </ui-select-match>
                                        <ui-select-choices refresh="getEmployees($select.search)" refresh-delay="1000" repeat="person in employees">
                                            <div class="item-result ">
                                                <div class="item-result-name">
                                                    <img class="img-circle" src="{{person.image}}" height="50" width="50">
                                                    <div class="container-employee-search-info">
                                                        <strong >{{person.firstname}}</strong><br>
                                                        <i >{{person.email}}</i>
                                                    </div>
                                                    <div class="clearBoth"></div>
                                                </div>
                                            </div>

                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-info pull-right" ng-click="addMessage()">Post</button>
                        </div>
                    </div>
                </div><!-- /.box new post -->
                <div id="activity1" ng-show="!activity.data.length">
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            {{$root.$lang.no_data}}
                        </div>
                    </div>
                </div>
                <div id="activity" infinite-scroll-disabled="activity.busy" infinite-scroll="getActivity()">
                    <div class="box box-widget" ng-repeat="(indexActivity, activity) in activity.data">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <div class="box-header with-border">
                            <div class="imgleft">
                                <div class="image"><img class="img-circle" src="{{activity.avatar}}" alt="User Image"></div>
                                <dl class="infomation">
                                    <dt><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a></dt>
                                    <dd class="description">{{activity.datetime_created}}</dd>
                                </dl>
                                <dl class="content-event" ng-switch="activity.activity_type">
                                    <dd class="top-event clearfix" ng-switch-when="activity_post">

                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="event">
                                        <div class="calendar-event">
                                            <time datetime="2014-09-20" class="icon">
                                                <em class="ng-binding">{{activity.event.dayofweek}}</em>
                                                <strong class="ng-binding">{{activity.event.month}}</strong>
                                                <span class="ng-binding">{{activity.event.day}}</span>
                                            </time>
                                        </div>
                                        <div class="event-infomation">
                                            <p><b><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a> {{activity.activity_action}} <a href="#/viewEvent/{{activity.event.id}}">{{activity.event.name}}</a></b></p>
                                            <p><b>{{$root.$lang.start}}:</b> {{activity.event.startdatetitme}}</p>
                                            <p><b>{{$root.$lang.end}}:</b> {{activity.event.enddatetitme}}</p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="event_post">
                                        <div class="calendar-event">
                                            <time datetime="2014-09-20" class="icon">
                                                <em class="ng-binding">{{activity.event_post.dayofweek}}</em>
                                                <strong class="ng-binding">{{activity.event_post.month}}</strong>
                                                <span class="ng-binding">{{activity.event_post.day}}</span>
                                            </time>
                                        </div>
                                        <div class="event-infomation">
                                            <p><b><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a> {{activity.activity_action}} <a href="#/viewEvent/{{activity.event_post.id}}">{{activity.event_post.name}}</a></b></p>
                                            <p><b>{{$root.$lang.start}}:</b> {{activity.event_post.startdatetitme}}</p>
                                            <p><b>{{$root.$lang.end}}:</b> {{activity.event_post.enddatetitme}}</p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="file">
                                        <div class="calendar-event">
                                            <p><b>File:</b></p>
                                        </div>
                                        <div class="event-infomation">
                                            <p>
                                                File name in here<br/>
                                                File name in here<br/>
                                                File name in here<br/>
                                                File name in here
                                            </p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="project">
                                        <div class="task-event">
                                            <i class="fa fa-fw fa-clock-o"></i> {{$root.$lang.project}}
                                        </div>
                                        <div class="event-infomation">
                                            <p>
                                                <b><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a> {{activity.activity_action}} <a href="#/viewProject/{{activity.project.id}}">{{activity.project.name}}</a></b>
                                            </p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="project_post">
                                        <div class="task-event">
                                            <i class="fa fa-fw fa-clock-o"></i> {{$root.$lang.posted_in_project}}
                                        </div>
                                        <div class="event-infomation">
                                            <p>
                                                <b><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a> {{activity.activity_action}} <a href="#/viewProject/{{activity.project_post.id}}">{{activity.project_post.name}}</a></b><br/>
                                            </p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="task">
                                        <div class="task-event">
                                            <i class="fa fa-fw fa-clock-o"></i> {{$root.$lang.task}}
                                        </div>
                                        <div class="event-infomation">
                                            <p>
                                                <b><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a> {{activity.activity_action}} <a href="#/viewTask/{{activity.task.id}}">{{activity.task.name}}</a></b>
                                            </p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="task_post">
                                        <div class="task-event">
                                            <i class="fa fa-fw fa-clock-o"></i> {{$root.$lang.posted_in_task}}
                                        </div>
                                        <div class="event-infomation">
                                            <p>
                                                <b><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a> {{activity.activity_action}} <a href="#/viewTask/{{activity.task_post.id}}">{{activity.task_post.name}}</a></b><br/>
                                            </p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="photo">
                                        <div class="photo-event">
                                            <p><b>Photo:</b></p>
                                        </div>
                                        <div class="event-infomation">
                                            <div class="attachment-block clearfix">
                                                <img class="attachment-img thumbnail" src="http://company.iofficez.dev/flies/employee/11.jpg" alt="Attachment Image">
                                                <img class="attachment-img thumbnail" src="http://company.iofficez.dev/flies/employee/11.jpg" alt="Attachment Image">
                                                <img class="attachment-img thumbnail" src="http://company.iofficez.dev/flies/employee/11.jpg" alt="Attachment Image">

                                                <!-- /.attachment-pushed -->
                                            </div>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix"  ng-switch-when="employee">
                                        <p><b>{{$root.$lang.a_new_employee_has_been_added}}</b></p>
                                        <a class="employee-card" href="#/viewEmployee/{{activity.employee.id}}">
                                            <h4 class="employee-card-name">{{activity.employee.fullname}}</h4>
                                            <span class="employee-card-location">{{activity.employee.department}}</span>
                                            <img class="employee-card-avatar" src="{{activity.employee.avatar}}" alt="">
                                        </a>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="annoucement">
                                        <div class="clearfix">
                                            <div class="box-contain-card bg-success col-md-4">
                                                <p class="">Belfast City, UniKingdomted Kingdom</p>
                                                <a href="" class="btn btn-success btn-sm">Mark as read</a>
                                            </div>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="requestment">
                                        <p><b>General request</b></p>
                                        <div class="clearfix">
                                            <div class="box-contain-card">
                                                <div class="spinner-person">
                                                    <i class="fa fa-spinner" aria-hidden="true"></i>
                                                </div>
                                                <p class="">Belfast City, United Kingdom</p>
                                                <div class="clearfix"></div>
                                                <div class="box-complete">
                                                    <label><i class="fa fa-check-circle" aria-hidden="true"></i> Complete</label>
                                                    <div class="">
                                                        <div class="circle-primary">
                                                            <img src="http://company.iofficez.dev/flies/employee/9.jpg" alt="">
                                                        </div>
                                                        <div class="pass-status">
                                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="circle-success">
                                                            <img src="http://company.iofficez.dev/flies/employee/11.jpg" alt="">
                                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="" class="btn btn-success btn-sm">complete</a>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <!-- /.user-block -->
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {{activity.activity_content_parse}}
                            <div class="like-contain clearfix">
                                <button ng-hide="activity.is_liked" ng-click="likeActivity(indexActivity, activity.activity_id)" type="button" class="btn btn-default btn-xs like-button pull-left"><i class="fa fa-thumbs-o-up"></i> {{$root.$lang.like}}</button>
                                <span class="pull-left text-muted"><span ng-show="activity.total_like | num">{{activity.total_like}} {{$root.$lang.likes}}</span> <span ng-show="(activity.total_like | num) && (activity.total_comment | num)"> - </span> <span ng-show="activity.total_comment | num">{{activity.total_comment}} {{$root.$lang.comments}}</span></span>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer box-comments">
                            <div class="box-comment" ng-repeat="(keyComment,comment) in activity.comments">
                                <!-- User image -->
                                <img class="img-circle img-sm" src="{{comment.employee.avatar}}" alt="User Image">

                                <div class="comment-text">
                                    <span class="username">
                                        <a href="#/viewEmployee/{{comment.employee.id}}">{{comment.employee.fullname}}</a>
                                        <span class="text-muted pull-right">{{comment.datetime}}</span>
                                    </span><!-- /.username -->
                                    {{comment.content}}
                                    <p><a ng-hide="comment.is_liked" href="" class="like-comment" ng-click="likeComment(indexActivity, keyComment)"><b>{{$root.$lang.like}}</b></a> <span ng-show="comment.total_like | num"><span class="img-circle btn-primary"><i class="fa fa-fw fa-thumbs-o-up"></i></span>  {{comment.total_like}}</span></p>
                                </div>
                                <!-- /.comment-text -->

                            </div>
                        </div>
                        <!-- /.box-footer -->
                        <div class="box-footer">
                            <!--<form action="#" method="post">-->
                            <img class="img-responsive img-circle img-sm" src="{{profile.avatar}}" alt="Alt Text">
                            <!-- .img-push is used to add margin to elements next to floating images -->
                            <div class="img-push">
                                <input type="text" class="form-control input-sm" ng-model="comment[indexActivity]" my-enter="saveComment(indexActivity, activity.activity_id, comment[indexActivity]);comment[indexActivity] = '';"  placeholder="{{$root.$lang.press_enter_to_post_comment}}">
                            </div>
                            <!--</form>-->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                </div><!-- activity-wall-->
            </div>


            <div class="col-md-3 padding-left-md-0">
                <div id="annoucement" class="box box-danger box-solid">
                    <div class="box-header with-border">
                        <h4 class="box-title">Annoucement</h4>
                    </div>
                    <div class="box-body no-padding">
                        <ul>
                            <li>
                                <div class="pull-left">
                                    <img src="img/avatar5.png" class="img-circle" alt="User Image">
                                </div>
                                <h4>Million Tài</h4>
                                <p>Annoucement</p>
                            </li>
                            <li>
                                <div class="pull-left">
                                    <img src="img/avatar5.png" class="img-circle" alt="User Image">
                                </div>
                                <h4>Million Tài</h4>
                                <p>Annoucement</p>
                            </li>
                            <li>
                                <div class="pull-left">
                                    <img src="img/avatar5.png" class="img-circle" alt="User Image">
                                </div>
                                <h4>Million Tài</h4>
                                <p>Annoucement</p>
                            </li>
                        </ul>
                    </div>
                    <div class="box-footer">
                        <a href="javascript:void(0)" class="btn btn-primary">Mark as read</a>
                        <div class="pull-right">
                            <a href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
                            <span>1 / 1</span>
                            <a href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-info box-solid">
                    <div class="box-header with-border">
                        <h4 class="box-title">WORKFLOWS</h4>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-stacked">
                            <li><a href="#">Projects <span class="pull-right">31</span></a></li>
                            <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                            <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                            <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h4 class="box-title">My task</h4>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-stacked">
                            <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                            <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                            <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                            <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-warning box-solid" event-fixed>
                    <div class="box-header with-border">
                        <h3 class="box-title">Upcoming Event</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="item-event">
                            <span class="fa fa-calendar"></span>
                            <dl>
                                <dt>Event name</dt>
                                <dd>
                                    30/09/2016
                                </dd>
                            </dl>
                        </div>
                        <div class="item-event">
                            <span class="fa fa-calendar"></span>
                            <dl>
                                <dt>Event name</dt>
                                <dd>
                                    30/09/2016
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <!-- Default box -->

    </section>
</div>