<div class="modal-header dialog-header-wait">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title text-danger"> <strong><i class="fa fa-cubes"></i>{{$root.$lang.task_add}}</strong></h4>
</div>
<div class="modal-body text-dangers">
    <div ng-show="step == 1">
        <h3 class="text-center">{{$root.$lang.task_infomation}}</h3>
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{$root.$lang.task_name}}</label>
                    <div class="col-sm-9" >
                        <input type="text" class="form-control" ng-model="task.name" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{$root.$lang.project}}</label>
                    <div class="col-sm-9" >
                        <ui-select theme="bootstrap" ng-model="task.project_id" ng-change="updateAfterProjectChanged()" >
                            <ui-select-match allow-clear="true" placeholder="{{$root.$lang.task_project_choose}}">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices refresh-delay="1000" repeat="x.id as x in projects | filter: {name: $select.search}">
                                <div>
                                    &nbsp;&nbsp;&nbsp;{{x.name}}
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div> 

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{$root.$lang.task_end_date}}</label>
                    <div class="col-sm-3">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="task.duedatetime" is-open="open_start_datetime" datepicker-options="dateOptions" ng-required="true" close-text="{{$root.$lang.datepicker_close}}"  clear-text="{{$root.$lang.datepicker_clear}}" current-text="{{$root.$lang.datepicker_today}}" ng-focus="open_start_datetime = true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open_start_datetime = true"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <!--<input type="text"  class="form-control"  ng-model="task.duedatetime" datepicker-popup="dd-MM-yyyy"  datepicker-popup="mediumDate"  is-open="openTo" ng-click="openTo = true"  show-button-bar="false" />-->                                
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{$root.$lang.task_priority}}</label>
                    <div class="col-sm-9" >
                        <div class="btn-group">
                            <label ng-repeat="row in priorities" class="btn btn-primary" ng-class="{active:row.id == task.priority_id}" ng-model="task.priority_id" uib-btn-radio="{{row.id}}">{{row.name}}</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{$root.$lang.task_completed_percent}}</label>
                    <div class="col-sm-9"  style="padding-top: 5px">
                        <div class="pull-left" style="width: 90%">
                            <div min="0" max="100" ui-slider="{range: 'min'}" ng-model="task.completed_percent"></div> 
                        </div> 
                        <div class="pull-right">
                            {{task.completed_percent}}%
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{$root.$lang.task_share}}</label>
                    <div class="col-sm-9" >
                        <div class="checkbox">
                            <input type="checkbox" ng-model="task.is_public" icheck>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{$root.$lang.task_description}}</label>
                    <div class="col-sm-9" >
                        <textarea class="form-control"  data-ui-tinymce rows="5" ng-model="task.description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>

                    <div class="col-sm-9" >
                        <a ng-click="showMore(1)" ng-show="!more" class="pointer">{{$root.$lang.more}}</a>
                        <a ng-click="showMore(0)" ng-show="more" class="pointer">{{$root.$lang.less}}</a>
                    </div>
                </div>

                <div class="container-more" ng-show="more">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{$root.$lang.parent_task}}</label>

                        <div class="col-sm-9" >
                            <ui-select theme="bootstrap" ng-model="task.parent_id" ng-click="checkProject()">
                                <ui-select-match allow-clear="true" placeholder="{{$root.$lang.parent_task_choose}}">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices refresh-delay="1000" repeat="x.id as x in parentTasks | filter: {name: $select.search}">
                                    <div>
                                        &nbsp;&nbsp;&nbsp;{{x.name}}
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div> 

                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{$root.$lang.task_estimate_time}} </label>
                        <div class="col-sm-9">
                            <div class="input-group"> 
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span> 
                                <input type="text" class="form-control" auto-numeric="{vMin: 0, vMax: 100000000}" ng-model="task.estimate_hour" style="width: 90%;display: inline;" > 
                                <span class="input-group-addon ng-binding">{{$root.$lang.task_hour}}</span> 
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{$root.$lang.task_status}}</label>

                        <div class="col-sm-9" >
                            <div class="btn-group">
                                <label ng-repeat="row in statuses" class="btn btn-primary" ng-class="{active:row.id == task.status_id}" ng-model="task.status_id" uib-btn-radio="{{row.id}}">{{row.name}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{$root.$lang.task_files}}</label>

                        <div class="col-sm-9" >
                            <input id="fileImage" type="file" class="form-control input-file-upload" name="file" 
                                   onchange="
                                                   angular.element(this).scope().addFile(this.files);
                                                   $('#fileImage').replaceWith($('#fileImage').clone());
                                   " 
                                   />

                            <br/>
                            <div class="show-file-name" ng-repeat="file in files">
                                <strong>{{file.name}}</strong><i class="fa fa-remove" ng-click="removeFile($index)"></i>
                            </div>
                        </div>
                    </div>

                </div>                                                                   
            </div>
        </form>
    </div>

    <div ng-show="step == 2">
        <h3 class="text-center">{{$root.$lang.task_choose_employees}}</h3>
        <form class="form-horizontal">
            <div class="box-body">                                
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{$root.$lang.task_employee_assigners}}</label>

                    <div class="col-sm-9" >
                        <ui-select multiple  ng-model="task.assigningEmployees" theme="bootstrap" ng-click="findEmployeeForTask('')" ng-keyup="findEmployeeForTask($select.search)">
                            <ui-select-match placeholder="...">
                                <img src="{{$item.image}}" height="30" width="30" /><br/>
                                {{$item.fullname}}
                            </ui-select-match>
                            <ui-select-choices refresh-delay="1000" repeat="person in searchedEmployees|filter:filterFollowingEmployees">
                                <div class="item-result ">
                                    <div class="item-result-name">
                                        <img src="{{person.image}}" height="50" width="50">
                                        <div class="container-employee-search-info">
                                            <strong >{{person.fullname}}</strong><br>
                                            <i >{{person.email}}</i>
                                        </div>
                                        <div class="clearBoth"></div>
                                    </div>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{$root.$lang.task_employee_followers}}</label>
                    <div class="col-sm-9" >
                        <ui-select multiple  ng-model="task.followingEmployees" theme="bootstrap" ng-click="findEmployeeForTask('')" ng-keyup="findEmployeeForTask($select.search)">
                            <ui-select-match placeholder="...">
                                <img src="{{$item.image}}" height="30" width="30" /><br/>
                                {{$item.fullname}}
                            </ui-select-match>
                            <ui-select-choices refresh-delay="1000" repeat="person in searchedEmployees|filter:filterAssigningEmployees">
                                <div class="item-result ">
                                    <div class="item-result-name">
                                        <img src="{{person.image}}" height="50" width="50">
                                        <div class="container-employee-search-info">
                                            <strong >{{person.fullname}}</strong><br>
                                            <i >{{person.email}}</i>
                                        </div>
                                        <div class="clearBoth"></div>
                                    </div>
                                </div>                                
                            </ui-select-choices>
                        </ui-select>                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{$root.$lang.task_group}}</label>
                    <div class="col-sm-9">
                        <ui-select multiple tagging-tokens="SPACE|,|/" ng-model="task.taskGroupIds">
                            <ui-select-match placeholder="...">{{$item.name}}</ui-select-match>
                            <ui-select-choices refresh-delay="1000" repeat="x.id as x in taskGroups | filter: {name: $select.search}">
                                <div>
                                    {{x.name}}
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>                              
                
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{$root.$lang.calendar_event_redmind}}</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="task.redmind" ng-options="redmind.id as redmind.name for redmind in redminds"></select>
                    </div>
                </div>   

                <div class="form-group">
                    <label class="col-sm-3 control-label">Sms</label>
                    <div class="col-sm-9" >
                        <div class="checkbox">
                            <input type="checkbox" ng-model="task.sms" icheck> 
                        </div>
                    </div>
                </div>
            </div> 
        </form>
    </div>    
    <div ng-show="step == 3">
        <h3 class="text-center">{{$root.$lang.project_final}}</h3>
        <h4 class="text-center">{{$root.$lang.task_created_success}}</h4>
    </div>

</div>
<div class="modal-footer">

    <button type="button" class="btn btn-default btn-flat" ng-click="back()" ng-hide="step == 3 || step == 1"><i class="fa fa-arrow-circle-left"></i> {{$root.$lang.button_back}}</button>
    <button type="button" class="btn btn-primary btn-flat" ng-click="next()" ng-hide="step == 3"><i class="fa fa-arrow-circle-right"></i> {{$root.$lang.button_next}}</button>
    <button type="button" class="btn btn-default btn-flat" ng-click="cancel()"><i class="fa fa-remove"></i> {{$root.$lang.button_close}}</button>

</div>
