<section class="content-header">
    <h1>
        {{$root.$lang.task_manage}}
    </h1>
    <div class="tool-right">
        <a class="btn btn-primary btn-flat" ng-click="add()"><i class="fa fa-plus-square"></i> {{$root.$lang.task_add}}</a>
    </div>
</section>

<section class="content">
    <!-- Default box -->
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">{{$root.$lang.task_list}}</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>

        <br/>
        <div class="box-body">
            <div class="nav-tabs-custom"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a ng-click="getList('my_task', $event)" href="#my_task" data-toggle="tab">{{$root.$lang.task_my_task}}</a></li>
                    <li><a ng-click="getList('follow_task', $event)" href="#follow_task" data-toggle="tab">{{$root.$lang.task_my_followed_task}}</a></li>
                    <li><a ng-click="getList('all_task', $event)" href="#all_task" data-toggle="tab">{{$root.$lang.task_all_task}}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="my_task">
                        <div class="row">
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3">
                                <form class="form-group sidebar-form1" ng-submit="searchByName('my_task')">
                                    <div class="input-group">
                                        <input type="text" ng-model="task.search.assigned" class="form-control" placeholder="{{$root.$lang.name}}"/>
                                        <span class="input-group-btn">
                                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                                        </span>                     
                                    </div>
                                </form>
                            </div>              
                        </div>
                        <div class="clear"></div>  
                        <div ng-hide="collection.assigned.length > 0">
                            {{$root.$lang.no_data}}
                        </div>
                        <div class ="row task-row" ng-repeat="ob in collection.assigned">
                            <div class = "col-lg-12 container">
                                <div class="row">
                                    <div class="pull-left" id="name-desc">
                                        <div class="row"><a href="#/viewTask/{{ob.id}}"><div>#{{ob.id}}. &nbsp; {{ob.name}}</div></a></div>
                                    </div>
                                    <div class="pull-left task-creator">
                                        <span class="padding-img">{{$root.$lang.task_creator}}:</span>
                                        <span title="{{ob.creator.fullname}}"><img class="img-circle" height = "30" width = "30" src="{{ob.creator.image}}" /></span>                                
                                    </div>
                                </div>
                                <div class="row"><i>{{ob.description_parse}}</i></div>
                                <div class = "row">
                                    <div class="pull-left assignee-to">
                                        <span class="padding-img">{{$root.$lang.assigned_to}}:</span>
                                        <span class="padding-img-circle" ng-repeat="x in ob.assignees"><img class="img-circle" height = "30" width = "30" src="{{x.image}}" title="{{x.fullname}}" /></span>
                                    </div>
                                    <div ng-show="ob.followers.length > 0" class="pull-left follow-to">
                                        <span class="padding-img">{{$root.$lang.follow_to}}:</span>
                                        <span class="padding-img-circle" ng-repeat="x in ob.followers"><img class="img-circle" ng-if ="x.image != '/flies/employee/'" height = "30" width = "30" src="{{x.image}}" title="{{x.fullname}}" /></span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="text-right" ng-show="totalItems.assigned > params.limit">
                            <uib-pagination total-items="totalItems.assigned" ng-model="task.page.assigned" max-size="maxPageSize" class="pagination-sm"
                                            boundary-links="true" first-text="&lsaquo;&lsaquo;" previous-text="&lsaquo;" next-text="&rsaquo;" last-text="&rsaquo;&rsaquo;" items-per-page="params.limit"
                                            ng-change="getList('my_task', '')" num-pages="numPages" rotate="false"></uib-pagination>                                  
                        </div>

                    </div>
                    <!--end table-->
                    <!--pagination-->
                    <div class="tab-pane" id="follow_task">
                        <div class="row">
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3">
                                <form class="form-group sidebar-form1" ng-submit="searchByName('follow_task')">
                                    <div class="input-group">
                                        <input type="text" ng-model="task.search.follow" class="form-control" placeholder="{{$root.$lang.name}}"/>
                                        <span class="input-group-btn">
                                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                                        </span>                     
                                    </div>
                                </form>
                            </div>              
                        </div>
                        <div class="clear"></div>  
                        <div ng-hide="collection.follow.length > 0">
                            {{$root.$lang.no_data}}
                        </div>
                        <div class ="row task-row" ng-repeat="ob in collection.follow">
                            <div class = "col-lg-12 container">
                                <div class="row">
                                    <div class="pull-left" id="name-desc">
                                        <div class="row"><a href="#/viewTask/{{ob.id}}"><div>#{{ob.id}}. &nbsp; {{ob.name}}</div></a></div>
                                    </div>
                                    <div class="pull-left task-creator">
                                        <span class="padding-img">{{$root.$lang.task_creator}}:</span>
                                        <span><img class="img-circle" height = "30" width = "30" src="{{ob.creator.image}}" title="{{ob.creator.fullname}}" />                               
                                    </div>
                                </div>
                                <div class="row"><i>{{ob.description_parse}}</i></div>
                                <div class = "row">
                                    <div class="pull-left assignee-to">
                                        <span class="padding-img">{{$root.$lang.assigned_to}}:</span>
                                        <span class="padding-img-circle" ng-repeat="x in ob.assignees"><img class="img-circle" height = "30" width = "30" src="{{x.image}}" title="{{x.firstname}}" /></span>
                                    </div>
                                    <div ng-show="ob.followers.length > 0" class="pull-left follow-to">
                                        <span class="padding-img">{{$root.$lang.follow_to}}:</span>
                                        <span class="padding-img-circle" ng-repeat="x in ob.followers"><img class="img-circle" ng-if ="x.image != '/flies/employee/'" height = "30" width = "30" src="{{x.image}}" title="{{x.firstname}}" /></span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="text-right" ng-show="totalItems.follow > params.limit">
                            <uib-pagination total-items="totalItems.follow" ng-model="task.page.follow" max-size="maxPageSize" class="pagination-sm"
                                            boundary-links="true" first-text="&lsaquo;&lsaquo;" previous-text="&lsaquo;" next-text="&rsaquo;" last-text="&rsaquo;&rsaquo;" items-per-page="params.limit"
                                            ng-change="getList('follow_task', '')" num-pages="numPages" rotate="false"></uib-pagination>                                  
                        </div>

                    </div>
                    <div class="tab-pane" id="all_task">
                        <div class="row">
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3">
                                <form class="form-group sidebar-form1" ng-submit="searchByName('all_task')">
                                    <div class="input-group">
                                        <input type="text" ng-model="task.search.all" class="form-control" placeholder="{{$root.$lang.name}}"/>
                                        <span class="input-group-btn">
                                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                                        </span>                     
                                    </div>
                                </form>
                            </div>              
                        </div>
                        <div class="clear"></div>  
                        <div ng-hide="collection.all.length > 0">
                            {{$root.$lang.no_data}}
                        </div>
                        <div class ="row task-row" ng-repeat="ob in collection.all">
                            <div class = "col-lg-12 container">
                                <div class="row">
                                    <div class="pull-left" id="name-desc">
                                        <div class="row"><a href="#/viewTask/{{ob.id}}"><div>#{{ob.id}}. &nbsp; {{ob.name}}</div></a></div>
                                    </div>
                                    <div class="pull-left task-creator">
                                        <span class="padding-img">{{$root.$lang.task_creator}}:</span>
                                        <span><img class="img-circle" height = "30" width = "30" src="{{ob.creator.image}}" title="{{ob.creator.fullname}}" />                            
                                    </div>
                                </div>
                                <div class="row"><i>{{ob.description_parse}}</i></div>
                                <div class = "row">
                                    <div class="pull-left assignee-to">
                                        <span class="padding-img">{{$root.$lang.assigned_to}}:</span>
                                        <span class="padding-img-circle" ng-repeat="x in ob.assignees"><img class="img-circle" height = "30" width = "30" src="{{x.image}}" title="{{x.firstname}}" /></span>
                                    </div>
                                    <div ng-show="ob.followers.length > 0" class="pull-left follow-to">
                                        <span class="padding-img">{{$root.$lang.follow_to}}:</span>
                                        <span class="padding-img-circle" ng-repeat="x in ob.followers"><img class="img-circle" ng-if ="x.image != '/flies/employee/'" height = "30" width = "30" src="{{x.image}}" title="{{x.firstname}}" /></span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="text-right" ng-show="totalItems.all > params.limit">
                            <uib-pagination total-items="totalItems.all" ng-model="task.page.all" max-size="maxPageSize" class="pagination-sm"
                                            boundary-links="true" first-text="&lsaquo;&lsaquo;" previous-text="&lsaquo;" next-text="&rsaquo;" last-text="&rsaquo;&rsaquo;" items-per-page="params.limit"
                                            ng-change="getList('all_task', '')" num-pages="numPages" rotate="false"></uib-pagination>                                  
                        </div>
                    </div>
                </div>
                </div>
            </div>

    </div><!-- /.box -->

</section>