<div class="login-box">
    <div class="login-box-body">
        <div class="login-logo">
            <a href=""><b>CENTER</b>OFFICE</a>
        </div>
        <form ng-submit="login(form)" name="form" id="login-form" novalidate>
<!--            <input type="hidden" value="dVUxS3RSTXM2HFknPz4lOyYXdCoWBAYCDAFCExw5L0A4ZgMhLiQ7OA==" name="_csrf">-->
            <div class="form-group field-loginform-username required">
                <div class="form-group has-feedback">
                    <input placeholder="{{$lang.username}}" type="text" ng-model="employee.username" name="employee[username]" class="form-control" id="loginform-username" required /><span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <span class="error" ng-show="(form.$submitted || form['employee[username]'].$touched) && form['employee[username]'].$error.required">{{$lang.please_enter_username}}</span>        
                <span class="error" ng-show="form.$submitted && errors.username">{{errors.username}}</span>        
            </div>
            <div class="form-group field-loginform-password required">
                <div class="form-group has-feedback">
                    <input placeholder="{{$lang.password}}" type="password" ng-model="employee.password" name="employee[password]" class="form-control" id="loginform-password" required /><span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <span class="error" ng-show="(form.$submitted || form['employee[password]'].$touched) && form['employee[password]'].$error.required">{{$lang.please_enter_password}}</span>
                <span class="error" ng-show="form.$submitted && errors.password">{{errors.password}}</span>        
            </div>
            <div class="form-group field-loginform-rememberme">
                <input type="checkbox" ng-model="employee.rememberMe" checked="" value="1" name="LoginForm[rememberMe]" id="loginform-rememberme">
                <label for="loginform-rememberme" class="control-label">{{$lang.remember}} ?</label>
            </div>
            <div class="form-group">
                <button name="login-button" ng-disabled="isLoading()" class="btn btn-primary btn-block btn-flat" type="submit">{{$lang.sign_in}}</button>
            </div>
        </form>
        <a href="#">{{$lang.forgot_password}} ?</a><br>
    </div>
    <!-- /.login-box-body -->
</div>