<div class="modal-header dialog-header-wait">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title text-danger">
        <strong><i class="fa fa-cubes"></i>{{$root.$lang.add_calendar_title}}</strong>
    </h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div>
            <label class="control-label">{{$root.$lang.name}}</label>
            <div><input type="text" class="form-control" ng-model="calendar.name" ></div>
        </div>
        <div>
            <label class="control-label">{{$root.$lang.description}}</label>
            <div><textarea class="form-control" rows="5" ng-model="calendar.description"></textarea></div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-flat" ng-click="add()">
            <i class="fa fa-arrow-circle-right"></i><span>{{$root.$lang.button_add}}</span>
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="cancel()">
            <i class="fa fa-remove"></i> {{$root.$lang.button_close}}
        </button>
    </div>