<section class="content-header">
    <h1>
        View calendar
    </h1>
</section>

<section class="content">
    <div class="row clearfix">
        <div class="col-md-9">
            <!-- Default box -->
            <div class="box box-solid top-event">
                <div class="box-body" >
                    <div class="image">
                        <img src="http://www.theneighborhoodhouse.com/images/calendar.png" alt=""/>
                    </div>
                    <dl>
                        <dd>
                            <span class="username">
                                <a href="#"> Leadership and Work Motivation (Lãnh đạo và Động lực làm việc).</a>
                            </span>
                            <span class="description">Public - created by Vũ Quốc Tú Hùng </span>
                            <a class="btn btn-primary btn-flat btn-xs">attend</a>
                            <a class="btn btn-info btn-flat btn-xs">maybe</a>
                            <a class="btn btn-danger btn-flat btn-xs">not adttend</a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="box box-solid header-event">
                <div class="box-body">
                    <dl>
                        <dt>Sunday, July 31 at 7 PM - 10 PM</dt>
                        <dd class="direct-chat-timestamp"><i class="fa fa-clock-o"></i> 1 day ago</dd>
                    </dl>
                    <dl>
                        <dt>NEST BY AIA - Hanoi</dt>
                        <dd class="direct-chat-timestamp"><i class="fa fa-map-marker"></i> 191 Bà Triệu, Phường Lê Đại Hành, Quận Hai Bà Trưng, Hanoi, VietNam</dd>
                    </dl>
                    <h4>Calendar: *Meeting</h4>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control textarea" placeholder="Enter text ..."></textarea>
            </div>
            <div class="box box-solid detail-event">
                <div class="box-header with-border">
                    <h4 class="box-title">Detail</h4>
                </div>
                <div class="box-body">
                    <div class="content-event" ng-class="{viewall: viewall}">
                        <p>
                            “Trong Khởi Nghiệp, bạn sẽ không bao giờ Thành Công nếu chưa từng một lần Thất Bại. Nếu thất bại một lần hãy thất bại một cách thật thông minh.” Anh Nguyễn Hữu Thái Hòa - Phó Chủ tịch Hội đồng Tư vấn chiến lược kiêm Giám đốc Tư vấn chiến lược Tập đoàn VNPT đồng thời cũng là diễn giả của sự kiện FAIL SMART.
                        </p>
                        <p>
                            Bạn nhìn những gì trong giới Khởi Nghiệp?
                            Nơi những ước mơ, hoài bão trở thành hiện thực?
                            Hay là mảnh đất màu mỡ để bạn thể hiện khả năng của bản thân?
                        </p>
                        <p>
                            Nhưng bạn có biết bên cạnh những thành công hào nhoáng kia thì thất bại dường như cũng chẳng xa lạ trong giới khởi nghiệp bởi gần 99.99% dự án khởi nghiệp đều thất bại ngay năm đầu tiên. Để có thể khởi nghiệp thành công bạn chắc chắn ít nhất vài lần nếm mùi thất bại và cần chuẩn bị cho mình một tinh thần thép để có thể đối mặt với thất bại một cách thông minh nhất.
                        </p>
                        <p>
                            “Trong Khởi Nghiệp, bạn sẽ không bao giờ Thành Công nếu chưa từng một lần Thất Bại. Nếu thất bại một lần hãy thất bại một cách thật thông minh.” Anh Nguyễn Hữu Thái Hòa - Phó Chủ tịch Hội đồng Tư vấn chiến lược kiêm Giám đốc Tư vấn chiến lược Tập đoàn VNPT đồng thời cũng là diễn giả của sự kiện FAIL SMART.
                        </p>
                        <p>
                            Bạn nhìn những gì trong giới Khởi Nghiệp?
                            Nơi những ước mơ, hoài bão trở thành hiện thực?
                            Hay là mảnh đất màu mỡ để bạn thể hiện khả năng của bản thân?
                        </p>
                        <p>
                            Nhưng bạn có biết bên cạnh những thành công hào nhoáng kia thì thất bại dường như cũng chẳng xa lạ trong giới khởi nghiệp bởi gần 99.99% dự án khởi nghiệp đều thất bại ngay năm đầu tiên. Để có thể khởi nghiệp thành công bạn chắc chắn ít nhất vài lần nếm mùi thất bại và cần chuẩn bị cho mình một tinh thần thép để có thể đối mặt với thất bại một cách thông minh nhất.
                        </p>
                        <a href="javascript:void(0)" class="readmore aligncenter" ng-click="viewall = !viewall">Read more</a>
                    </div>
                </div>
            </div>
            <div class="box box-solid box-default recent-post-event">
                <div class="box-header with-border">
                    <h4 class="box-title">Recent posts</h4>
                </div>
                <div class="box-body">
                    <dl>
                        <dd>
                            <div class="user-block">
                                <img class="img-circle" src="https://s-media-cache-ak0.pinimg.com/236x/57/4e/0b/574e0b219d900e515249c3619e2d9683.jpg" alt="User Image">
                                <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                <span class="description">Shared publicly - 7:30 PM Today</span>
                            </div>
                            <p>
                                Tìm hiểu, nghiên cứu, vẽ sơ đồ chức năng eOffice 
                                Tìm hiểu, nghiên cứu, vẽ sơ đồ chức năng.
                                Tìm hiểu, nghiên cứu, vẽ sơ đồ chức năng eOffice Tìm hiểu, nghiên cứu, vẽ sơ đồ chức năng.
                            </p>
                        </dd>
                        <dd>
                            <div class="user-block">
                                <img class="img-circle" src="https://s-media-cache-ak0.pinimg.com/236x/57/4e/0b/574e0b219d900e515249c3619e2d9683.jpg" alt="User Image">
                                <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                <span class="description">Shared publicly - 7:30 PM Today</span>
                            </div>
                            <p>
                                Tìm hiểu, nghiên cứu, vẽ sơ đồ chức năng eOffice 
                                Tìm hiểu, nghiên cứu, vẽ sơ đồ chức năng.
                                Tìm hiểu, nghiên cứu, vẽ sơ đồ chức năng eOffice Tìm hiểu, nghiên cứu, vẽ sơ đồ chức năng.
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-3 padding-left-md-0">
            <div class="box box-solid event-member">
                <div class="box-header with-border">
                    <dl>
                        <dd>
                            <p class="aligncenter font24">287</p><p class="aligncenter marg0">Attend</p>
                        </dd>
                    </dl>
                    <dl>
                        <dd>
                            <p class="aligncenter font24">987</p><p class="aligncenter marg0">Maybe</p>
                        </dd>
                    </dl>
                    <dl>
                        <dd>
                            <p class="aligncenter font24">1287</p><p class="aligncenter marg0">Not attend</p>
                        </dd>
                    </dl>
                    <dl>
                        <dd>
                            <p class="aligncenter font24">87</p><p class="aligncenter marg0">No comfirm</p>
                        </dd>
                    </dl>
                </div>
                <!-- /.box-body -->
            </div>

            <div class="box box-solid event-department">
                <div class="box-header with-border">
                    <h4 class="box-title">Department</h4>
                </div>
                <div class="box-body">
                    <ul>
                        <li>Account department</li>
                        <li>Sale department</li>
                        <li>Marketing department</li>
                    </ul>
                </div>
            </div>

            <div class="box box-solid event-member">
                <div class="box-header with-border">
                    <h4 class="box-title">Invitees</h4>
                    <div class="box-tools pull-right">
                        <span class="label label-info">29</span>
                    </div>
                </div>
                <div class="box-body">
                    <div class="imgleft">
                        <div class="image">
                            <img class="img-circle" src="https://s-media-cache-ak0.pinimg.com/236x/57/4e/0b/574e0b219d900e515249c3619e2d9683.jpg" alt=""/>
                        </div>
                        <dl>
                            <dt><a href="#">Trần Văn Tài</a> <span>(Joined)</span></dt>
                            <dd class="direct-chat-timestamp"><i class="fa fa-clock-o"></i> 12h ago</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">Events</h4>
                </div>
                <div class="box-body related-event">
                    <div class="imgleft clearfix">
                        <div class="image">
                            <img src="https://www.yorkcounty.gov/portals/6/2015/2016-Events_webbot.jpg?ver=2015-12-14-115822-533" alt=""/>
                        </div>
                        <dl>
                            <dt><a href="#">First event</a></dt>
                            <dd class="direct-chat-timestamp"><i class="fa fa-clock-o"></i> 18days ago</dd>
                            <dd><a href="#">delete</a> - <a href="#">remove</a></dd>
                        </dl>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</section>