<div class="authority-list-page">
    <section class="content-header">
        <h1>
            {{$root.$lang.notfication_manage}}
        </h1>
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">{{$root.$lang.notfication_list}}</h3>            
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div ng-show="myNotifi.notifi.length">
                    {{$root.$lang.you_have_i_notfication.replace('%i', $root.sum_notify)}}
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <ul class="list-notify" infinite-scroll="getNotificationList()">
                            <li class="item-notify" ng-repeat="notification in myNotifi.notifi">
                                <a href="{{notification.url}}">
                                    <img class="img-circle" src="{{notification.avatar}}" alt="User Image">
                                    <h4>{{notification.employee_name}} <small>{{notification.activity_action}}</small> {{notification.activity_object}}</h4>
                                    <p><i class="fa fa-clock-o"></i> {{notification.datetime_created * 1000 | date : 'medium'}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.box -->
                <div ng-show="!myNotifi.notifi.length">
                    {{$root.$lang.no_data}}
                </div>
                </section>
            </div>