<div class="modal-header {{class_header}}">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title text-danger"><span class="glyphicon glyphicon-warning-sign"></span> <strong>{{title}}</strong></h4>
</div>
<div class="modal-body text-dangers" ng-bind-html="message" ></div>
<div class="modal-footer">
    <div class="btn btn-primary btn-flat" ng-click="save()" ng-show="show_save"><i class="fa fa-save"></i> {{$root.$lang.ok}}</div>
    <div class="btn btn-default btn-flat" ng-click="cancel()"><i class="fa fa-remove"></i> {{$root.$lang.cancel}}</div>
</div>
