<div class="modal-header dialog-header-wait">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title text-danger"> 
        <strong><i class="fa fa-cubes"></i>
            <span>{{$root.$lang.detail}}</span>
        </strong>
    </h4>
</div>
<div class="modal-body text-dangers detail-authority-box" >    
    <div class="box-body form-horizontal">
        <div class="row form-group">
            <div class="row">
                <div class="col-md-9">
                    <div id="authority" class="clearfix">
                        <h3><i class="fa fa-fw fa-user"></i> {{authorityName}}</h3>
                        <div ng-repeat="(controller, actions) in authority">
                            <h4>{{controller}}</h4>
                            <ul class="list-authority">
                                <li ng-repeat="action in actions" class="list-authority-item"><i class="fa fa-circle text-green"></i> {{action}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="modal-footer">    
    <button type="button" class="btn btn-default btn-flat" ng-click="cancel()"> <i class="fa fa-remove"></i> {{$root.$lang.button_close}}</button>
</div>

