<div class="modal-header dialog-header-wait">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title text-danger"> <strong><i class="fa fa-cubes"></i>{{$root.$lang.project_add}}</strong></h4>
</div>
<div class="modal-body text-dangers" >
    <!--<div class="row container-step-title">
        <div class="col-sm-4 text-center">
            <div class="step-create-project bg-aqua" >{{$root.$lang.project_infomation}}</div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="step-create-project " ng-class="step>=2?'bg-aqua':''">{{$root.$lang.project_choose_member}}</div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="step-create-project " ng-class="step>=3?'bg-aqua':''">{{$root.$lang.project_final}}</div>
        </div>
    </div>-->

    <div ng-show="step == 1">
        <h3 class="text-center">{{$root.$lang.project_infomation}}</h3>
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">{{$root.$lang.project_name}}</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="project.name" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">{{$root.$lang.project_time}}</label>

                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="project.start_datetime" is-open="open_start_datetime" datepicker-options="dateOptions" ng-required="true" close-text="{{$root.$lang.datepicker_close}}"  clear-text="{{$root.$lang.datepicker_clear}}" current-text="{{$root.$lang.datepicker_today}}" ng-readonly="true" ng-focus="open_start_datetime = true" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open_start_datetime = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="project.duedatetime" is-open="open_end_datetime" datepicker-options="dateOptions" ng-required="true" close-text="{{$root.$lang.datepicker_close}}"  clear-text="{{$root.$lang.datepicker_clear}}" current-text="{{$root.$lang.datepicker_today}}" ng-readonly="true" ng-focus="open_end_datetime = true"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open_end_datetime = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">{{$root.$lang.project_priority}}</label>

                    <div class="col-sm-9">
                        <div class="btn-group">
                            <label ng-repeat="row in priorities" class="btn btn-primary" ng-model="project.priority_id" uib-btn-radio="{{row.id}}">{{row.name}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">{{$root.$lang.project_completed_percent}}</label>

                    <div class="col-sm-9" style="padding-top: 5px">
                        <div class="pull-left" style="width: 90%">
                            <div min="0" max="100" ui-slider="{range: 'min'}" ng-model="project.completed_percent"></div> 
                        </div> 
                        <div class="pull-right">
                            {{project.completed_percent}}%
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">{{$root.$lang.project_share}}</label>
                    <div class='col-sm-9'>
                        <div class="checkbox">
                            <input type="checkbox" ng-model="project.is_public" icheck>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-3 control-label">{{$root.$lang.project_description}}</label>
                    <div class='col-sm-9'>
                        <textarea class="form-control" data-ui-tinymce rows="5" ng-model="project.description"></textarea>
                    </div>
                </div>

                <div class="container-more" ng-show="more">
                    <div class="form-group" >
                        <label for="inputEmail3" class="col-sm-3 control-label">{{$root.$lang.project_estimate_time}} </label>

                        <div class="col-sm-9">
                            <div class="input-group"> 
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span> 
                                <input type="text" class="form-control" auto-numeric="{vMin: 0, vMax:4294967295}" ng-model="project.estimate_hour">
                                <span class="input-group-addon">{{$root.$lang.project_hour}}</span> 
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">{{$root.$lang.project_status}}</label>
                        <div class="col-sm-9">
                            <div class="btn-group">
                                <label ng-repeat="row in status" class="btn btn-primary" ng-model="project.status_id" uib-btn-radio="{{row.id}}">{{row.name}} </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">{{$root.$lang.project_files}}</label>
                        <div class="col-sm-9">
                            <input id="fileImage" type="file" class="form-control input-file-upload" name="file" onchange="angular.element(this).scope().addFile(this.files);
                                            $('#fileImage').replaceWith($('#fileImage').clone());" />
                            <br/>
                            <div class="show-file-name" ng-repeat="file in files">
                                <strong>{{file.name}}</strong> <i class="fa fa-remove" ng-click="removeFile($index)"></i>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="form-group">
                    <label  class="col-sm-3 control-label"></label>
                    <div class='col-sm-9'>
                        <a ng-click="showMore(1)" ng-show="!more" class="pointer">{{$root.$lang.project_view_more}}</a>
                        <a ng-click="showMore(0)" ng-show="more" class="pointer">{{$root.$lang.project_view_short}}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="step == 2">
        <h3 class="text-center">{{$root.$lang.project_choose_member}}</h3>
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">{{$root.$lang.project_manager}}</label>

                    <div class="col-sm-9">

                        <ui-select  ng-model="project.manager" theme="bootstrap" ng-disabled="disabled" on-select="selectManager($item, $model)">
                            <ui-select-match placeholder="" id="manager-match">
                                <span ng-show="project.manager"><i class="fa fa-remove red cursor-pointer"  ng-click="clearManager()" style="position: absolute;left: 37px;top: 0px;"></i></span>
                                <img class="img-circle" src="{{$select.selected.image}}" height="30" width="30" /> {{$select.selected.firstname}}
                            </ui-select-match>
                            <ui-select-choices refresh="findEmployee($select.search)" refresh-delay="1000" repeat="person in people">
                                <div class="item-result ">
                                    <div class="item-result-name">
                                        <img class="img-circle" src="{{person.image}}" height="50" width="50">
                                        <div class="container-employee-search-info">
                                            <strong >{{person.firstname}}</strong><br>
                                            <i >{{person.email}}</i>
                                        </div>
                                        <div class="clearBoth"></div>
                                    </div>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">{{$root.$lang.project_department}}</label>

                    <div class="col-sm-9" >
                        <label >
                            <input type="checkbox" ng-change="checkAll()" ng-model="allDepartment" icheck> {{$root.$lang.project_choose_all}}
                        </label>
                        <div id="container-department">
                            <label ng-repeat="department in departments">
                                <input type="checkbox" checklist-model="project.departments" checklist-value="department.id" icheck ng-change="clickCheckAll()"> {{department.name}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">{{$root.$lang.project_members}}</label>

                    <div class="col-sm-9">
                        <ui-select multiple  ng-model="project.members" theme="bootstrap" ng-disabled="disabled"  on-select="selectMember($item, $model)">
                            <ui-select-match placeholder="">
                                <img class="img-circle" src="{{$item.image}}" height="30" width="30" />
                                {{$item.firstname}}
                            </ui-select-match>
                            <ui-select-choices refresh="findEmployeeForProject($select.search)" refresh-delay="1000" repeat="person in employees">
                                <div class="item-result ">
                                    <div class="item-result-name">
                                        <img class="img-circle" src="{{person.image}}" height="50" width="50">
                                        <div class="container-employee-search-info">
                                            <strong >{{person.firstname}}</strong><br>
                                            <i>{{person.email}}</i>
                                        </div>
                                        <div class="clearBoth"></div>
                                    </div>
                                </div>

                            </ui-select-choices>
                        </ui-select>


                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">Sms</label>
                    <div class='col-sm-9'>
                        <div class="checkbox">
                            <input type="checkbox" ng-model="project.sms" icheck> 
                        </div>
                    </div>
                </div>
            </div> 
        </form>

    </div>
    <div ng-show="step == 3">
        <h3 class="text-center">{{$root.$lang.project_final}}</h3>
        <h4 class="text-center">{{$root.$lang.project_created_success}}</h4>
    </div>

</div>
<div class="modal-footer">

    <button type="button" class="btn btn-default btn-flat" ng-click="back()" ng-hide="step == 3"><i class="fa fa-arrow-circle-left"></i> {{$root.$lang.button_back}}</button>
    <button type="button" class="btn btn-primary btn-flat" ng-click="next()" ng-hide="step == 3"><i class="fa fa-arrow-circle-right"></i> {{$root.$lang.button_next}}</button>
    <button type="button" class="btn btn-default btn-flat" ng-click="cancel()"><i class="fa fa-remove"></i> {{$root.$lang.button_close}}</button>

</div>
