<div class="modal-header dialog-header-wait">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title text-danger"> 
        <strong><i class="fa fa-cubes"></i>
            <span>{{$root.$lang.change_password}}</span>
        </strong>
    </h4>
</div>
<div class="modal-body text-dangers" >    
    <div class="box-body form-horizontal">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputPassword" class="col-sm-3 control-label">{{$root.$lang.current_password}}</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword" ng-model="employee.oldPassword" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputNewpassword" class="col-sm-3 control-label">{{$root.$lang.new_password}}</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputNewpassword" ng-model="employee.newPassword" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputRenewPassword" class="col-sm-3 control-label">{{$root.$lang.renew_password}}</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputRenewPassword" ng-model="employee.rePassword"  />
                </div>
            </div>
        </form>
    </div>

</div>  
<div class="modal-footer">    
    <button type="button" class="btn btn-primary btn-flat" ng-click="changePassword()"> <i class="fa fa-save"></i> {{$root.$lang.change}}</button>
    <button type="button" class="btn btn-default btn-flat" ng-click="cancel()"> <i class="fa fa-remove"></i> {{$root.$lang.button_close}}</button>
</div>