<div class="modal-header dialog-header-wait">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title text-danger"> 
        <strong><i class="fa fa-cubes"></i>
            <span>{{$root.$lang.change_password}}</span>
        </strong>
    </h4>
</div>
<div class="modal-body text-dangers" >    
    <div class="box-body form-horizontal">
        <form class="form-horizontal" role="form">
            <div class="col-sm-9" >
                <input id="fileImage" type="file" class="form-control input-file-upload" name="file" accept="image/png, image/jpg, image/gif"
                       onchange="angular.element(this).scope().addFile(this.files); angular.element(this).scope().previewFile();" />

                <br/>
                <br />
                <img id="previewAvatar" src="" height="200" alt="Image preview...">
            </div>
        </form>
    </div>

</div>  
<div class="modal-footer">    
    <button type="button" class="btn btn-primary btn-flat" ng-click="changeProfile()"> <i class="fa fa-save"></i> {{$root.$lang.change}}</button>
    <button type="button" class="btn btn-default btn-flat" ng-click="cancel()"> <i class="fa fa-remove"></i> {{$root.$lang.button_close}}</button>
</div>