<div class="authority-list-page">
    <section class="content-header">
        <h1>
            Employee manage
        </h1>
        <div class="tool-right">
            <a class="btn btn-info" ng-click="invite()"><i class="fa fa-plus-square"></i> Invite</a>
        </div>
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Employee list</h3>            
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="row">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <form class="form-group sidebar-form1" ng-submit="search()">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Name"/>
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                                </span>                     
                            </div>
                        </form>
                    </div>              
                </div>
                <div class="clear"></div>  
                    <div class="col-sm-9 pull-left">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="/employee#employee" data-toggle="tab" aria-expanded="true">Employee</a></li>
                                <li class=""><a href="/employee#invited" data-toggle="tab" aria-expanded="false">Invited</a></li>
                                <li class=""><a href="/employee#all" data-toggle="tab" aria-expanded="false">All</a></li>
                                <li class=""><a href="/employee#inactive" data-toggle="tab" aria-expanded="false">Inactive</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="employee">
                                    <div class="list-employee clearfix">
                                        <div ng-repeat="employee in employees" class="item-employee">
                                            <dl>
                                                <dt>{{employee.fullname}}</dt>
                                                <dd class="imgleft">
                                                    <div class="image">
                                                        <img src="{{employee.image}}" class="img-circle user-image" alt="User Image">
                                                        <a ng-click="edit()">Edit</a>
                                                    </div>
                                                    <div class="info">
                                                        <p ng-show="employee.is_admin"><a href="#" class="btn btn-info btn-xs">Admin</a></p>
                                                        <p>Department: {{employee.department}}</p>
                                                        <p>Email: {{employee.email}}</p>
                                                        <p>Status: <a href="#" class="btn btn-success btn-xs">{{employee.status}}</a></p>

                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                        <!-- End item employee-->
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="invited">
                                    The European languages are members of the same family. Their separate existence is a myth.
                                    For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                                    in their grammar, their pronunciation and their most common words. Everyone realizes why a
                                    new common language would be desirable: one could refuse to pay expensive translators. To
                                    achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                                    words. If several languages coalesce, the grammar of the resulting language is more simple
                                    and regular than that of the individual languages.
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="all">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic typesetting,
                                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                    like Aldus PageMaker including versions of Lorem Ipsum.
                                </div>
                                <div class="tab-pane" id="inactive">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic typesetting,
                                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                    like Aldus PageMaker including versions of Lorem Ipsum.
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                    </div>
                            </div>
                <div class="clear"></div>  
                <div class="box-footer text-center" ></div><!-- /.box-footer-->

            </div><!-- /.box -->

    </section>
</div>