<div class="authority-list-page">
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="box box-solid">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="{{employee.image}}" alt="User profile picture">
                        <a ng-show="employee.id == employee.loginEmployeeId"  class="change-avatar" ng-click="changeProfile()"><i class="fa fa-camera fa-2x" aria-hidden="true"></i></a>
                        <h3 class="profile-username text-center">{{employee.fullname}}</h3>

                        <p class="text-muted text-center">{{employee.email}}</p>

<!--                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>My project</b> <a class="pull-right">13,287</a>
                            </li>
                            <li class="list-group-item">
                                <b>My Task</b> <a class="pull-right">1,322</a>
                            </li>
                            <li class="list-group-item">
                                <b>My Following task</b> <a class="pull-right">543</a>
                            </li>
                            <li class="list-group-item">
                                <b>My event</b> <a class="pull-right">13,287</a>
                            </li>
                        </ul>-->

                        <a ng-show="employee.id == employee.loginEmployeeId" class="btn btn-primary btn-block" ng-click="update()"><b>{{$root.$lang.edit}}</b></a>
                        <a ng-show="employee.id == employee.loginEmployeeId" class="btn btn-primary btn-block" ng-click="changePassword()"><b>{{$root.$lang.change_password}}</b></a>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <!-- About Me Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{$root.$lang.about_me}}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong ng-show="employee.is_admin"><i class="fa fa-book margin-r-5"></i> Admin</strong>
                        <p class="text-muted" ng-show="employee.is_admin">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-circle-down margin-r-5"></i>
                        </p>

                        <strong><i class="fa fa-book margin-r-5"></i> {{$root.$lang.department}}</strong>
                        <p class="text-muted">
                            {{employee.department}}
                        </p>

                        <strong><i class="fa fa-birthday-cake margin-r-5"></i> {{$root.$lang.birthdate}}</strong>

                        <p class="text-muted">{{employee.birthdate}}</p>

                        <strong><i class="fa fa-chevron-circle-down margin-r-5"></i> {{$root.$lang.status}}</strong>

                        <p class="text-muted"><span class="label label-success">{{employee.status}}</span></p>

                        <strong><i class="fa fa-mobile margin-r-5"></i> {{$root.$lang.mobile_phone}}</strong>

                        <p class="text-muted">{{employee.mobile_phone}}</p>

                        <strong><i class="fa fa-phone margin-r-5"></i> {{$root.$lang.work_phone}}</strong>

                        <p class="text-muted">{{employee.work_phone}}</p>

                        <strong ng-show="employee.street_address_1"><i class="fa fa-map-marker margin-r-5"></i> {{$root.$lang.address}}</strong>

                        <p ng-show="employee.street_address_1">{{employee.street_address_1}}</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-9 padding-left-md-0">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{$root.$lang.activity}}</h3>            
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="nav-tabs-custom no-shadow"> <!-- Only required for left/right tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a ng-click="initializeTab($event)" href="#message" data-toggle="tab">{{$root.$lang.message}}</a></li>
                                <li ng-show="$root.auth.annoucement.add || $root.auth.is_admin"><a ng-click="initializeTab($event)" href="#annoucement" data-toggle="tab">{{$root.$lang.annoucement}}</a></li>
                                <li><a ng-click="initializeTab($event)" href="#requestment" data-toggle="tab">{{$root.$lang.requestment}}</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="message">
                                    <textarea class="form-control textarea" ng-model="message.content" placeholder="{{$root.$lang.what_do_you_think}} ? ..."></textarea>
                                    <br />
                                    <div ng-hide="message.option" class="form-group">
                                        <input type="checkbox" ng-model="message.all" icheck /> {{$root.$lang.project_choose_all}}
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" ng-model="message.option" icheck ng-click="message.option = true;
                                            message.all = false;" /> {{$root.$lang.display_option}}
                                    </div>
                                    <div class="option-message" ng-show="message.option">
                                        <div class="form-group">
                                            <div class="col-sm-12" >
                                                <label for="inputEmail3" class="control-label">{{$root.$lang.project_department}}</label>
                                                <div id="container-department">
                                                    <label ng-repeat="department in departments">
                                                        <input type="checkbox" checklist-model="message.departments" checklist-value="department.id" icheck /> {{department.name}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">{{$root.$lang.project_members}}</label>
                                            <div class="col-sm-9">
                                                <ui-select multiple  ng-model="message.employees" theme="bootstrap" ng-disabled="disabled"  on-select="selectMember($item, $model)">
                                                    <ui-select-match placeholder="">
                                                        <img class="img-circle" src="{{$item.image}}" height="30" width="30" />
                                                        {{$item.firstname}}
                                                    </ui-select-match>
                                                    <ui-select-choices refresh="getEmployees($select.search)" refresh-delay="1000" repeat="person in employees">
                                                        <div class="item-result ">
                                                            <div class="item-result-name">
                                                                <img class="img-circle" src="{{person.image}}" height="50" width="50">
                                                                <div class="container-employee-search-info">
                                                                    <strong >{{person.firstname}}</strong><br>
                                                                    <i >{{person.email}}</i>
                                                                </div>
                                                                <div class="clearBoth"></div>
                                                            </div>
                                                        </div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-flat btn-primary pull-right" ng-click="addMessage()">{{$root.$lang.post}}</button>
                                    </div>
                                </div>
                                <div class="tab-pane" id="annoucement">
                                    <div class="form-group">
                                        <div class="col-sm-6" >
                                            <input type="text" class="form-control" ng-model="annoucemnt.title" placeholder="{{$root.$lang.title}}" /><br />
                                        </div>
                                        <label class="col-sm-2 control-label">{{$root.$lang.importance}}:</label>
                                        <div class="col-sm-1" >
                                            <input type="checkbox" ng-model="annoucemnt.is_importance" icheck /> 
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <div class="col-sm-12" >
                                            <textarea class="form-control" rows="5" ng-model="annoucemnt.description" placeholder="{{$root.$lang.content}}"></textarea>
                                            <br />
                                        </div>
                                    </div>

                                    <div class="form-group">    
                                        <label class="col-sm-3 control-label">{{$root.$lang.end_date}}:</label>
                                        <div class="col-sm-3">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="annoucemnt.date_new_to" is-open="open_start_datetime" datepicker-options="dateOptions" ng-required="true" close-text="{{$root.$lang.datepicker_close}}"  clear-text="{{$root.$lang.datepicker_clear}}" current-text="{{$root.$lang.datepicker_today}}" ng-focus="open_start_datetime = true" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open_start_datetime = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    <br />
                                                </span>
                                            </p>
                                            <!--<input type="text"  class="form-control"  ng-model="task.duedatetime" datepicker-popup="dd-MM-yyyy"  datepicker-popup="mediumDate"  is-open="openTo" ng-click="openTo = true"  show-button-bar="false" />-->                                
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">Sms</label>
                                        <div class="col-sm-9" >
                                            <input type="checkbox" ng-model="annoucemnt.sms" icheck /> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-flat btn-primary pull-right" ng-click="addAnnoucement()">{{$root.$lang.post}}</button>
                                    </div>
                                </div>
                                <div class="tab-pane" id="requestment">
                                    <div class="form-group">
                                        <div class="col-sm-6" >
                                            <input type="text" class="form-control" ng-model="requestment.title" placeholder="{{$root.$lang.title}}" /><br />
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <div class="col-sm-12" >
                                            <textarea class="form-control" rows="5" ng-model="requestment.description" placeholder="{{$root.$lang.content}}"></textarea>
                                            <br />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label ng-binding">{{$root.$lang.type}}</label>          
                                        <div class="col-sm-5">
                                            <select class="form-control" ng-model="requestment.requestment_category_id" ng-init="requestment.requestment_category_id = null">
                                                <option value>--</option>
                                                <option ng-repeat="value in requestmentCategory" value="{{value.id}}">{{value.name}}</option>
                                            </select>
                                            <br />
                                        </div>
                                        <div class="col-sm-3">
                                            <a ng-show="$root.auth.requestment_category.add || $root.auth.is_admin" href="#/requestmentCategory"> +{{$root.$lang.add}}</a>
                                            <br />
                                        </div>
                                    </div> 

                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">{{$root.$lang.send_to}}:</label>
                                        <div class="col-sm-6">
                                            <ui-select ng-model="requestment.review_employee" theme="bootstrap" ng-disabled="disabled" on-select="selectReviewer($item, $model)">
                                                <ui-select-match placeholder="" id="manager-match">
                                                    <span ng-show="requestment.review_employee"><i class="fa fa-remove red cursor-pointer"  ng-click="clearReviewer()" style="position: absolute;left: 37px;top: 0px;"></i></span>
                                                    <img class="img-circle" src="{{$select.selected.image}}" height="30" width="30" /> {{$select.selected.firstname}}
                                                </ui-select-match>
                                                <ui-select-choices refresh="getEmployees($select.search)" refresh-delay="1000" repeat="person in employees">
                                                    <div class="item-result ">
                                                        <div class="item-result-name">
                                                            <img class="img-circle" src="{{person.image}}" height="50" width="50">
                                                            <div class="container-employee-search-info">
                                                                <strong >{{person.firstname}}</strong><br>
                                                                <i >{{person.email}}</i>
                                                            </div>
                                                            <div class="clearBoth"></div>
                                                        </div>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <br />
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        <div class="col-sm-12" >
                                            <input type="checkbox" ng-model="moreOption" ng-init="moreOption = false;" icheck /> {{$root.$lang.more_option}}
                                            <br /><br />
                                        </div>
                                    </div>
                                    <div ng-show="moreOption">
                                        <div class="form-group">    
                                            <label class="col-sm-3 control-label">{{$root.$lang.from_datetime}}:</label>
                                            <div class="col-sm-3">
                                                <p class="input-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="requestment.from_datetime" is-open="open_from_datetime" datepicker-options="dateOptions" ng-required="true" close-text="{{$root.$lang.datepicker_close}}"  clear-text="{{$root.$lang.datepicker_clear}}" current-text="{{$root.$lang.datepicker_today}}" ng-focus="open_from_datetime = true" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open_from_datetime = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        <br />
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="input-group col-sm-2">
                                                <input type="text" class="form-control" datetime-picker="HH:mm" ng-model="requestment.from_datetime" is-open="open_from_time" enable-date="false"  enable-time="true" button-bar="buttonBar" ng-focus="open_from_time = true" timepicker-options="timepickerOptions"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open_from_time = true"><i class="fa fa-clock-o"></i></button>
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <label class="col-sm-3 control-label">{{$root.$lang.to_datetime}}:</label>
                                            <div class="col-sm-3">
                                                <p class="input-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="requestment.to_datetime" is-open="open_to_datetime" datepicker-options="dateOptions" ng-required="true" close-text="{{$root.$lang.datepicker_close}}"  clear-text="{{$root.$lang.datepicker_clear}}" current-text="{{$root.$lang.datepicker_today}}" ng-focus="open_to_datetime = true" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open_to_datetime = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        <br />
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="input-group col-sm-2">
                                                <input type="text" class="form-control" datetime-picker="HH:mm" ng-model="requestment.to_datetime" is-open="open_to_time" enable-date="false"  enable-time="true" button-bar="buttonBar" ng-focus="open_to_time = true" timepicker-options="timepickerOptions"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open_to_time = true"><i class="fa fa-clock-o"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">{{$root.$lang.public}}</label>
                                            <div class="col-sm-9" >
                                                <input type="checkbox" ng-model="requestment.is_public" icheck /> <br /><br />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Sms</label>
                                            <div class="col-sm-9" >
                                                <input type="checkbox" ng-model="requestment.sms" icheck /> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-flat btn-primary pull-right" ng-click="addRequestment()">{{$root.$lang.post}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- /.box new post -->
                <div id="activity_no_data" ng-show="!activity.data.length">
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            {{$root.$lang.no_data}}
                        </div>
                    </div>
                </div>
                <div id="activity" infinite-scroll-disabled="activity.busy" infinite-scroll="getActivity()">
                    <div class="box box-widget" ng-repeat="(indexActivity, activity) in activity.data">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <div class="box-header with-border">
                            <div class="imgleft">
                                <div class="image"><img class="img-circle" src="{{activity.avatar}}" alt="User Image"></div>
                                <dl class="infomation">
                                    <dt><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a></dt>
                                    <dd class="description">{{activity.datetime_created}}</dd>
                                </dl>
                                <dl class="content-event" ng-switch="activity.activity_type">
                                    <dd class="top-event clearfix" ng-switch-when="activity_post">

                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="event">
                                        <div class="calendar-event">
                                            <time datetime="2014-09-20" class="icon">
                                                <em class="ng-binding">{{activity.event.dayofweek}}</em>
                                                <strong class="ng-binding">{{activity.event.month}}</strong>
                                                <span class="ng-binding">{{activity.event.day}}</span>
                                            </time>
                                        </div>
                                        <div class="event-infomation">
                                            <p><b><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a> {{activity.activity_action}} <a href="#/viewEvent/{{activity.event.id}}">{{activity.event.name}}</a></b></p>
                                            <p><b>{{$root.$lang.start}}:</b> {{activity.event.startdatetitme}}</p>
                                            <p><b>{{$root.$lang.end}}:</b> {{activity.event.enddatetitme}}</p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="event_post">
                                        <div class="calendar-event">
                                            <time datetime="2014-09-20" class="icon">
                                                <em class="ng-binding">{{activity.event_post.dayofweek}}</em>
                                                <strong class="ng-binding">{{activity.event_post.month}}</strong>
                                                <span class="ng-binding">{{activity.event_post.day}}</span>
                                            </time>
                                        </div>
                                        <div class="event-infomation">
                                            <p><b><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a> {{activity.activity_action}} <a href="#/viewEvent/{{activity.event_post.id}}">{{activity.event_post.name}}</a></b></p>
                                            <p><b>{{$root.$lang.start}}:</b> {{activity.event_post.startdatetitme}}</p>
                                            <p><b>{{$root.$lang.end}}:</b> {{activity.event_post.enddatetitme}}</p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="file">
                                        <div class="calendar-event">
                                            <p><b>File:</b></p>
                                        </div>
                                        <div class="event-infomation">
                                            <p>
                                                File name in here<br/>
                                                File name in here<br/>
                                                File name in here<br/>
                                                File name in here
                                            </p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="project">
                                        <div class="task-event">
                                            <i class="fa fa-fw fa-clock-o"></i> {{$root.$lang.project}}
                                        </div>
                                        <div class="event-infomation">
                                            <p>
                                                <b><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a> {{activity.activity_action}} <a href="#/viewProject/{{activity.project.id}}">{{activity.project.name}}</a></b>
                                            </p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="project_post">
                                        <div class="task-event">
                                            <i class="fa fa-fw fa-clock-o"></i> {{$root.$lang.posted_in_project}}
                                        </div>
                                        <div class="event-infomation">
                                            <p>
                                                <b><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a> {{activity.activity_action}} <a href="#/viewProject/{{activity.project_post.id}}">{{activity.project_post.name}}</a></b><br/>
                                            </p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="task">
                                        <div class="task-event">
                                            <i class="fa fa-fw fa-clock-o"></i> {{$root.$lang.task}}
                                        </div>
                                        <div class="event-infomation">
                                            <p>
                                                <b><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a> {{activity.activity_action}} <a href="#/viewTask/{{activity.task.id}}">{{activity.task.name}}</a></b>
                                            </p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="task_post">
                                        <div class="task-event">
                                            <i class="fa fa-fw fa-clock-o"></i> {{$root.$lang.posted_in_task}}
                                        </div>
                                        <div class="event-infomation">
                                            <p>
                                                <b><a href="#/viewEmployee/{{activity.employee_id}}">{{activity.employee_name}}</a> {{activity.activity_action}} <a href="#/viewTask/{{activity.task_post.id}}">{{activity.task_post.name}}</a></b><br/>
                                            </p>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="photo">
                                        <div class="photo-event">
                                            <p><b>Photo:</b></p>
                                        </div>
                                        <div class="event-infomation">
                                            <div class="attachment-block clearfix">
                                                <img class="attachment-img thumbnail" src="http://company.iofficez.dev/flies/employee/11.jpg" alt="Attachment Image">
                                                <img class="attachment-img thumbnail" src="http://company.iofficez.dev/flies/employee/11.jpg" alt="Attachment Image">
                                                <img class="attachment-img thumbnail" src="http://company.iofficez.dev/flies/employee/11.jpg" alt="Attachment Image">

                                                <!-- /.attachment-pushed -->
                                            </div>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix"  ng-switch-when="employee">
                                        <p><b>{{$root.$lang.a_new_employee_has_been_added}}</b></p>
                                        <a class="employee-card" href="#/viewEmployee/{{activity.employee.id}}">
                                            <h4 class="employee-card-name">{{activity.employee.fullname}}</h4>
                                            <span class="employee-card-location">{{activity.employee.department}}</span>
                                            <img class="employee-card-avatar" src="{{activity.employee.avatar}}" alt="">
                                        </a>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="annoucement">
                                        <div class="clearfix">
                                            <div class="box-contain-card bg-success col-md-4">
                                                <p class=""><h3>{{activity.annoucement.title}} <span ng-show="activity.annoucement.is_importance">(*)</span></h3><br />
                                                {{activity.annoucement.content}}
                                                </p>
                                                <!--<a href="" class="btn btn-success btn-sm">Mark as read</a>-->
                                            </div>
                                        </div>
                                    </dd>
                                    <dd class="top-event clearfix" ng-switch-when="requestment">
                                        <p><span><strong>{{$root.$lang.requestment_category}}:</strong></span> {{activity.requestment.requestment_category}}</p>
                                        <div class="clearfix">
                                            <div class="box-contain-card">
                                                <div class="spinner-person">
                                                    <i class="fa fa-spinner" aria-hidden="true"></i>
                                                </div>
                                                <p class="">{{activity.requestment.title}}</p> <br />
                                                <p><span ng-show="activity.requestment.from_datetime"><strong>{{$root.$lang.from_datetime}}</strong></span> {{activity.requestment.from_datetime}}<span ng-show="activity.requestment.to_datetime"><strong>, {{$root.$lang.to_datetime}}:</strong></span> {{activity.requestment.to_datetime}}</p>
                                                <p><strong>{{$root.$lang.content}}: </strong>{{activity.requestment.content}}
                                                </p>
                                                <div class="clearfix"></div>
                                                <div class="box-complete">
                                                    <label ng-show="(activity.requestment.status == 'requestment.completed' && activity.requestment.is_accept == false)" ><i class="fa fa-ban" aria-hidden="true"></i> {{$root.$lang.refuse}}</label>
                                                    <label ng-show="(activity.requestment.status == 'requestment.completed' && activity.requestment.is_accept == true)" ><i class="fa fa-check-circle" aria-hidden="true"></i> {{$root.$lang.accept}}</label>
                                                    <label ng-show="activity.requestment.status == 'requestment.inprogress'" ><i class="fa fa-clock-o" aria-hidden="true"></i> {{$root.$lang.in_progress}}</label>
                                                    <div class="">
                                                        <div class="circle-primary">
                                                            <img src="{{activity.requestment.avatar_from}}" alt="">
                                                        </div>
                                                        <div class="pass-status">
                                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="circle-success">
                                                            <img src="{{activity.requestment.avatar_to}}" alt="">
                                                            <i ng-show="activity.requestment.status == 'requestment.completed' && activity.requestment.is_accept == false" class="fa fa-ban" aria-hidden="true"></i>
                                                            <i ng-show="activity.requestment.status == 'requestment.completed' && activity.requestment.is_accept == true" class="fa fa-check-circle" aria-hidden="true"></i>
                                                            <i ng-show="activity.requestment.status == 'requestment.inprogress'" class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span ng-show="activity.requestment.status == 'requestment.inprogress'" class="btn btn-info btn-sm">{{$root.$lang.in_progress}}</span>
                                                <span ng-show="activity.requestment.status == 'requestment.completed' && activity.requestment.is_accept == true" class="btn btn-success btn-sm">{{$root.$lang.accept}}</span>
                                                <span ng-show="activity.requestment.status == 'requestment.completed' && activity.requestment.is_accept == false" class="btn btn-danger btn-sm">{{$root.$lang.refuse}}</span>
                                            </div>
                                            <button ng-click="processRequestment('accept', indexActivity, activity.requestment.id)" ng-show="activity.requestment.status == 'requestment.inprogress' && activity.requestment.is_show_button" class="btn btn-flat btn-primary">{{$root.$lang.accept}}</button> &nbsp;
                                            <button ng-click="processRequestment('refuse', indexActivity, activity.requestment.id)" ng-show="activity.requestment.status == 'requestment.inprogress' && activity.requestment.is_show_button" class="btn btn-flat btn-danger">{{$root.$lang.refuse}}</button>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <!-- /.user-block -->
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {{activity.activity_content_parse}}
                            <div class="like-contain clearfix">
                                <button ng-hide="activity.is_liked" ng-click="likeActivity(indexActivity, activity.activity_id)" type="button" class="btn btn-default btn-xs like-button pull-left"><i class="fa fa-thumbs-o-up"></i> {{$root.$lang.like}}</button>
                                <span class="pull-left text-muted"><span ng-show="activity.total_like | num">{{activity.total_like}} {{$root.$lang.likes}}</span> <span ng-show="(activity.total_like | num) && (activity.total_comment | num)"> - </span> <span ng-show="activity.total_comment | num">{{activity.total_comment}} {{$root.$lang.comments}}</span></span>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer box-comments">
                            <div class="box-comment" ng-repeat="(keyComment,comment) in activity.comments">
                                <!-- User image -->
                                <img class="img-circle img-sm" src="{{comment.employee.avatar}}" alt="User Image">

                                <div class="comment-text">
                                    <span class="username">
                                        <a href="#/viewEmployee/{{comment.employee.id}}">{{comment.employee.fullname}}</a>
                                        <span class="text-muted pull-right">{{comment.datetime}}</span>
                                    </span><!-- /.username -->
                                    {{comment.content}}
                                    <p><a ng-hide="comment.is_liked" href="" class="like-comment" ng-click="likeComment(indexActivity, keyComment)"><b>{{$root.$lang.like}}</b></a> <span ng-show="comment.total_like | num"><span class="img-circle btn-primary"><i class="fa fa-fw fa-thumbs-o-up"></i></span>  {{comment.total_like}}</span></p>
                                </div>
                                <!-- /.comment-text -->

                            </div>
                        </div>
                        <!-- /.box-footer -->
                        <div class="box-footer">
                            <!--<form action="#" method="post">-->
                            <img class="img-responsive img-circle img-sm" src="{{profile.avatar}}" alt="Alt Text">
                            <!-- .img-push is used to add margin to elements next to floating images -->
                            <div class="img-push">
                                <input type="text" class="form-control input-sm" ng-model="comment[indexActivity]" my-enter="saveComment(indexActivity, activity.activity_id, comment[indexActivity]);comment[indexActivity] = '';"  placeholder="{{$root.$lang.press_enter_to_post_comment}}">
                            </div>
                            <!--</form>-->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                </div><!-- activity-wall-->
            </div>
        </div>
    </section>
</div>