<div class="authority-list-page">
    <section class="content-header">
        <h1>
            Company manage
        </h1>
        <div class="tool-right">
            <a class="btn btn-info" ng-click="add()"><i class="fa fa-plus-square"></i> Add</a>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-9">
                <!-- Default box -->
                <div id="detail-company" class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Your package</h3>            
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="/changePackage/#tab_1" data-toggle="tab" aria-expanded="true">Package</a></li>
                                <li class=""><a href="/changePackage/#tab_2" data-toggle="tab" aria-expanded="false">Payment detail</a></li>
                                <li class=""><a href="/changePackage/#tab_3" data-toggle="tab" aria-expanded="false">Invoice</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <p class="lead">Package detail</p>
                                            <div class="box-footer">
                                                <h2>FREE</h2>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span>USED STORAGE</span>
                                                    <p><b>86 MB/500 MB</b></p>
                                                    <div class="box-footer">
                                                        <p class="text-center"><input class="knob" type="text" value="65" data-skin="tron" data-thickness=".2" width="150" height="150"></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span>USER</span>
                                                    <p><b>3/3</b></p>
                                                    <div class="box-footer">
                                                        <p class="text-center"><input class="knob" type="text" value="65" data-skin="tron" data-thickness=".2" width="150" height="150" fg-color="red"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p><b>Change/ edit your package</b></p>
                                    Current package:
                                    <select>
                                        <option>Free</option>
                                        <option>Prime</option>
                                    </select>
                                    <p>
                                        The standard plan contains minimum 10 users and 5 GB. You can scale it up anytime in 5 user or 5 GB steps. <br/>
                                        If the maximum user count of 250 is reached or/and you need more performance, please check out the <br/>
                                        Professional Plan. In some cases it could be more favorable then the Standard Plan, depends on your needs.
                                    </p>     
                                    <p><b>Change/ edit your package</b></p>
                                    Current package:
                                    <select>
                                        <option>Free</option>
                                        <option>Prime</option>
                                    </select>
                                    <p>Duedate package: 5/2/2017</p>
                                    <p>
                                        This package contains:<br/>
                                        * Maximum users: 5.<br/>
                                        * Maximum storeage(MB): 500<br/>
                                        Your instance will be disabled if not used in 60 days!
                                    </p>
                                    <div class="clearfix">
                                        <a href="#" class="btn btn-primary pull-right">Change</a>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    The European languages are members of the same family. Their separate existence is a myth.
                                    For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                                    in their grammar, their pronunciation and their most common words. Everyone realizes why a
                                    new common language would be desirable: one could refuse to pay expensive translators. To
                                    achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                                    words. If several languages coalesce, the grammar of the resulting language is more simple
                                    and regular than that of the individual languages.
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic typesetting,
                                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                    like Aldus PageMaker including versions of Lorem Ipsum.
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                    </div><!-- /.box -->
                </div>
            </div>
            <div class="col-md-3 padding-left-md-0">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Company Info</h3>
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Tasks</a></li>
                            <li><a href="#">Completed Projects</a></li>
                            <li><a href="#">Followers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>