<div class="authority-list-page">
    <section class="content-header">
        <h1>
            Company manage
        </h1>
        <div class="tool-right">
            <a class="btn btn-info" ng-click="add()"><i class="fa fa-plus-square"></i> Add</a>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-9">
                <!-- Default box -->
                <div id="detail-company" class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Your package</h3>            
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="/changePackage/#tab_1" data-toggle="tab" aria-expanded="true">Package</a></li>
                                <li class=""><a href="/changePackage/#tab_2" data-toggle="tab" aria-expanded="false">Payment detail</a></li>
                                <li class=""><a href="/changePackage/#tab_3" data-toggle="tab" aria-expanded="false">Invoice</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <p class="lead">Package detail</p>
                                            <div class="box-footer">
                                                <h2>FREE</h2>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span>USED STORAGE</span>
                                                    <p><b>86 MB/500 MB</b></p>
                                                    <div class="box-footer">
                                                        <p class="text-center"><input class="knob" type="text" value="65" data-skin="tron" data-thickness=".2" width="150" height="150"></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span>USER</span>
                                                    <p><b>3/3</b></p>
                                                    <div class="box-footer">
                                                        <p class="text-center"><input class="knob" type="text" value="65" data-skin="tron" data-thickness=".2" width="150" height="150" fg-color="red"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p><b>Change/ edit your package</b></p>
                                    Current package:
                                    <select>
                                        <option>Free</option>
                                        <option>Prime</option>
                                    </select>
                                    <p>
                                        The standard plan contains minimum 10 users and 5 GB. You can scale it up anytime in 5 user or 5 GB steps. <br/>
                                        If the maximum user count of 250 is reached or/and you need more performance, please check out the <br/>
                                        Professional Plan. In some cases it could be more favorable then the Standard Plan, depends on your needs.
                                    </p>     
                                    <p><b>Change/ edit your package</b></p>
                                    Current package:
                                    <select>
                                        <option>Free</option>
                                        <option>Prime</option>
                                    </select>
                                    <p>Duedate package: 5/2/2017</p>
                                    <p>
                                        This package contains:<br/>
                                        * Maximum users: 5.<br/>
                                        * Maximum storeage(MB): 500<br/>
                                        Your instance will be disabled if not used in 60 days!
                                    </p>
                                    <div class="clearfix">
                                        <a href="#" class="btn btn-primary pull-right">Change</a>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    <ul class="timeline-create">
                                        <li class='work'>
                                            <div class="relative">
                                                <span class='date'>20/8/2015</span>
                                                <span class='circle'></span>
                                            </div>
                                            <div class='content-timeline'>
                                                <h3 class="timeline-header">Standard package  - 12 months</h3>
                                                <div class="timeline-body">
                                                    Standard package  - 12 months
                                                </div>
                                            </div>
                                        </li>
                                        <li class='work'>
                                            <div class="relative">
                                                <span class='date'>30/8/2016</span>
                                                <span class='circle'></span>
                                            </div>
                                            <div class='content-timeline'>
                                                <h3 class="timeline-header">Standard package  - 24 months</h3>
                                            </div>
                                        </li>
                                        <li class='work'>
                                            <div class="relative">
                                                <span class='date'>30/9/2018</span>
                                                <span class='circle'></span>
                                            </div>
                                            <div class='content-timeline'>
                                                <h3 class="timeline-header">Standard package  - 36 months</h3>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">
                                    <div class="box-header with-border">

                                        <div class="row">
                                            <div class="col-sm-3 col-xs-6">
                                                <div class="description-block border-right">
                                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                                                    <h5 class="description-header">$35,210.43</h5>
                                                    <span class="description-text">TOTAL REVENUE</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-3 col-xs-6">
                                                <div class="description-block border-right">
                                                    <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                                                    <h5 class="description-header">$10,390.90</h5>
                                                    <span class="description-text">TOTAL COST</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-3 col-xs-6">
                                                <div class="description-block border-right">
                                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                                                    <h5 class="description-header">$24,813.53</h5>
                                                    <span class="description-text">TOTAL PROFIT</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-3 col-xs-6">
                                                <div class="description-block">
                                                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                                                    <h5 class="description-header">1200</h5>
                                                    <span class="description-text">GOAL COMPLETIONS</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table class="table borderless">
                                            <caption><h4>1. Invoice Address</h4></caption>
                                            <tbody>
                                                <tr>
                                                    <th>Name company:</th>
                                                    <td>Mắt bão corp</td>
                                                </tr>
                                                <tr>
                                                    <th>Firstname:</th>
                                                    <td>Trịnh</td>
                                                </tr>
                                                <tr>
                                                    <th>Lastname:</th>
                                                    <td>Giác Bậc</td>
                                                </tr>
                                                <tr>
                                                    <th>Phone:</th>
                                                    <td>093884039292</td>
                                                </tr>
                                                <tr>
                                                    <th>Street/No:</th>
                                                    <td>Nguyễn Tất Thành, phường 3, quận 1</td>
                                                </tr>
                                                <tr>
                                                    <th>Zipcode:</th>
                                                    <td>83</td>
                                                </tr>
                                                <tr>
                                                    <th>City:</th>
                                                    <td>Ho Chi Minh</td>
                                                </tr>
                                                <tr>
                                                    <th>Country:</th>
                                                    <td>Vietnam</td>
                                                </tr>
                                                <tr>
                                                    <th>Email:</th>
                                                    <td>giacbat@matbao.vn</td>
                                                </tr>
                                                <tr>
                                                    <th>Business area:</th>
                                                    <td>marketing</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table borderless">
                                            <caption><h4>2. Payment</h4></caption>
                                            <tbody>
                                                <tr>
                                                    <th>Method payment:</th>
                                                    <td>Credit card</td>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">Red Invoice</th>
                                                </tr>
                                                <tr>
                                                    <th>Name company:</th>
                                                    <td>Mắt bão corp</td>
                                                </tr>
                                                <tr>
                                                    <th>Type of company:</th>
                                                    <td>Ho Chi Minh</td>
                                                </tr>
                                                <tr>
                                                    <th>Tax code:</th>
                                                    <td>Giác Bậc</td>
                                                </tr>
                                                <tr>
                                                    <th>City:</th>
                                                    <td>Ho Chi Minh</td>
                                                </tr>
                                                <tr>
                                                    <th>Province:</th>
                                                    <td>Ho Chi Minh</td>
                                                </tr>
                                                <tr>
                                                    <th>Address:</th>
                                                    <td>Input address of ward...</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- /.box-body -->
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                    </div><!-- /.box -->
                </div>
            </div>
            <div class="col-md-3 padding-left-md-0">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Company Info</h3>
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Tasks</a></li>
                            <li><a href="#">Completed Projects</a></li>
                            <li><a href="#">Followers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>