<div class="authority-list-page">
    <section class="content-header">
        <h1>
            Company manage
        </h1>
        <div class="tool-right">
            <a class="btn btn-info" ng-click="add()"><i class="fa fa-plus-square"></i> Add</a>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-9">
                <!-- Default box -->
                <div id="detail-company" class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Detail company information</h3>            
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Name company:</th>
                                    <td>Công ty cổ phần mắt bão</td>
                                </tr>
                                <tr>
                                    <th>Package:</th>
                                    <td>Standard</td>
                                </tr>
                                <tr>
                                    <th>Status:</th>
                                    <td><p class="cl_green"><i class="fa fa-2x fa-fw fa-check-circle"></i></p></td>
                                </tr>
                                <tr>
                                    <th>Url access:</th>
                                    <td>http://matbao.centeroffice.vn</td>
                                </tr>
                                <tr>
                                    <th>Time:</th>
                                    <td>
                                        <p>
                                            <b>Started datetime: 24/1/2015</b><br/>
                                            <b>Duedate time: 24/1/2016</b>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Disk:</th>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Register account:</th>
                                    <td>
                                        <table class="table no-border no-margin">
                                            <tbody>
                                                <tr>
                                                    <th>Name:</th>
                                                    <td>Trịnh Giác Bậc</td>
                                                </tr>
                                                <tr>
                                                    <th>Username:</th>
                                                    <td>giacbat</td>
                                                </tr>
                                                <tr>
                                                    <th>Password:</th>
                                                    <td>************</td>
                                                </tr>
                                                <tr>
                                                    <th>Email:</th>
                                                    <td>giacbat@matbao.vn</td>
                                                </tr>
                                                <tr>
                                                    <th>Phone:</th>
                                                    <td>083938848</td>
                                                </tr>
                                                <tr>
                                                    <th>Address:</th>
                                                    <td>93A, Nguyễn Thái Học, Phường 9, Quận 3, tp Hồ Chí Minh</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Business area:</th>
                                    <td>Marketing and communication</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Company Info</h3>
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Tasks</a></li>
                            <li><a href="#">Completed Projects</a></li>
                            <li><a href="#">Followers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>