<div class="authority-list-page">
    <section class="content-header">
        <h1>
            {{$root.$lang.company_manage}}
        </h1>
        <div class="tool-right">
            <a class="btn btn-flat btn-primary" href="#/changePackage"><i class="fa fa-edit"></i> {{$root.$lang.change_plan_type}}</a>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Default box -->
                <div id="detail-company" class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{$root.$lang.company_information}}</h3>            
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table no-border no-margin">
                            <tbody>
                                <tr>
                                    <th>{{$root.$lang.name}}</th>
                                    <td>{{company.company_name}}</td>
                                </tr>
                                <tr>
                                    <th>{{$root.$lang.package}}</th>
                                    <td>{{company.plan_type_name}}</td>
                                </tr>
                                <tr>
                                    <th>{{$root.$lang.status}}</th>
                                    <td><p ng-class="company.status_column_name == 'company.active' ? 'cl_green' : 'cl_red'"><i class="fa fa-2x fa-fw fa-check-circle"></i></p></td>
                                </tr>
                                <tr>
                                    <th>{{$root.$lang.time}}</th>
                                    <td>
                                        <p>
                                            <b>{{$root.$lang.start_datetime}}: {{company.start_date}}</b><br/>
                                            <b>{{$root.$lang.expire_time}}: {{company.expired_date}}</b>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{$root.$lang.storage}}</th>
                                    <td>
                                        <div class="data-storage col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span>{{$root.$lang.used_storage}}</span>
                                                    <p><b>{{company.total_storage}} MB/ {{company.max_storage_register}} MB</b></p>
                                                    <div class="box-footer">
                                                        <p class="text-center"><ui-knob value="usingStoragePercentValue" options="maxStorageOptions"></ui-knob></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span>{{$root.$lang.user}}</span>
                                                    <p><b>{{company.total_employee}} {{$root.$lang.user}}<span ng-if="company.max_user_register != 0">/ {{company.max_user_register}} {{$root.$lang.user}}</span> <span ng-if="company.max_user_register==0">/{{$root.$lang.unlimited}}</span> </b></p>
                                                    <div ng-show="company.max_user_register != 0" class="box-footer">
                                                        <ui-knob value="usingUserPercentValue" options="maxUserOptions"></ui-knob>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{$root.$lang.register_account}}</th>
                                    <td>
                                        <table class="table no-border no-margin">
                                            <tbody>
                                                <tr>
                                                    <th>{{$root.$lang.name}}:</th>
                                                    <td>{{company.employee.name}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Email:</th>
                                                    <td>{{company.employee.email}}</td>
                                                </tr>
                                                <tr>
                                                    <th>{{$root.$lang.mobile_phone}}:</th>
                                                    <td>{{company.employee.mobile_phone}}</td>
                                                </tr>
                                                <tr>
                                                    <th>{{$root.$lang.address}}:</th>
                                                    <td>{{company.employee.address}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box -->
                </div>
            </div>
            <!--            <div class="col-md-3 padding-left-md-0">
                            <div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title">Company Info</h3>
                                </div>
                                <div class="box-footer no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">Projects</a></li>
                                        <li><a href="#">Tasks</a></li>
                                        <li><a href="#">Completed Projects</a></li>
                                        <li><a href="#">Followers</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->
        </div>
    </section>
</div>