<div class="app-new">

  <div class="title-dowloadapp">
    Download the YogaMate app
  </div>
  <div class="dowloadapp">
    <img src="frontend/web/images/app-store.png">
    <img src="frontend/web/images/google-play.png">
  </div>
  <div class="newletter">
    <a href="#"><img src="frontend/web/images/letter.png"> Sign up for our free newsletter, <span>click here</span></a></a>
  </div>

</div>

<div class="footer">
  <div class="container">   
    <footer-links></footer-links>
    <div class="bottom-footer">
      <p>
        <a href="#">ABOUT YOGA MATE</a>
        <a href="#">PRICING</a>
        <a href="#">SUPPORT</a>
        <a href="#">DOWNLOAD APP</a>
        <a href="#">BLOG</a>
      </p>
      <p>
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
        <a href="#">Security</a>
        <a href="#">Contact</a>
      </p>
      <div class="copy">Copyright 2015 YogaMate    Terms and Conditions</div>
    </div>
  </div>
</div>

<div class="footer footer-mobile">
  <div class="container">
    <ul class="menu-footertop">
      <li><a href="#">About YogaMate app</a></li>
      <li><a href="#">Yoga Professional Resources</a></li>
      <li><a href="#">Contribute to YogaMate </a></li>
      <li><a href="#">Create your free professional profile </a></li>
    </ul>
    <div class="list-footer">
      <h4><a href="#">Mental/Emotional</a></h4>
      <h4><a href="#">Chronic/Autoimmune</a> </h4>
      <h4><a href="#">Pain/Trauma </a></h4>
      <h4><a href="#">Health & Wellbeing</a> </h4>
      <h4><a href="#">Women’s Health</a></h4>
      <h4><a href="#">Special Populations</a></h4>
      <p>
        <a href="#">ABOUT YOGA MATE</a>
        <a href="#">PRICING</a>
        <a href="#">SUPPORT</a>
        <a href="#">DOWNLOAD APP</a>
        <a href="#">BLOG</a>
      </p>
    </div>
    <div class="bottom-footer">
      <div class="copy">Copyright 2015 YogaMate    Terms and Conditions</div>
      <a href="#">View as desktop</a>
    </div>
  </div>
</div>