
body{
    font-family: 'WebSegoeUI',Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;font-size: 16px;
    color: #414042;
}
img{max-width: 100%;}
section.contain-box{
    padding: 30px 0 40px;
}
.nopadd{padding: 0;}
.noround{border-radius: 0;}
.nobg{background: transparent;}
.marg20{margin-bottom: 20px;}
.marg30{margin-bottom: 30px;}
.imgleft .image{float: left;margin-right: 20px;}
.imgright .image{float: right;margin-left: 20px;}
.nvntable{
    display: table;
    width: 100%;
}
.nvncell{
    display: table-cell;
}
/**/

ol.breadcrumb{margin:30px 0 40px;background: #fff;}

section h3.h3-title{
    color: #1C75BC;
    text-align: center;
    font-weight: 300;
}
@media (max-width: 991px){
    
}

body{
    padding-top: 128px;
}
header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 10;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
nav ul{
    float: right;
    list-style: none;
    padding: 20px 0 10px;
    margin: 0;
}
nav ul li{
    float: left;
}
nav ul li a{
    padding: 0 10px;
    color: #444;
    border-right: 1px solid #1c75bc;
    font-weight: 400;
}
nav ul li:last-child a{
    border-right: none;
}
nav ul li a:hover,nav ul li a.active{
    text-decoration: none;
    color: #1c75bc;
}
/* REPONSIVE */
@media (min-width:768px){
    nav>p{display: none;}
}
@media (max-width:767px){
    nav>p>a{display: inline-block;margin-left: 10px;padding: 6px 20px 5px;color: #fff;background: #1C75BC;margin-top: 10px;}
    nav>p>a:hover,nav>p>a:focus{color: #fff;background: #196bac;text-decoration: none;}
    a.navmobile{display: block;float: right;}
    nav ul{
        float: none;
        position: absolute;
        width: 100%;
        padding: 0;
        top: 53px;right: 0;
        background: #414042;
        z-index: 10;
        background-color: #fff;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        background-color: #ffffff;
        border-bottom: thin solid #d9d9d9;
        display: none;
    }
    nav ul li{
        float: none;
        border-top: thin solid #ebebeb;
    }
    nav ul li a{
        display: block;
        text-align: right;
        width: 100%;
        border-right: none;
        color: #686868;
        padding: 14px 23px;
        font-size: 16px;
        font-weight: 400;
    }
    nav ul li a:hover{
        text-decoration: none;
        background-color: #eee;
        color: #18a4dd;
    }
}
/*---------------------------------------------------------------------------*/
/* HEADER */
/*---------------------------------------------------------------------------*/
.header{
    background: #1c75bc;
    overflow: hidden;
}
.header .logo{
    float: left;
    padding: 20px 0;
}
.header #loginform{
    float: right;
    padding-top: 20px;
}
.header #loginform>a{
    color: #ddd;
}
/* REPONSIVE */
@media (min-width:768px){
    .header #mobile-login{display: none;}
}
@media (max-width:767px){
    .header #loginform{display: none;width: 100%;}
    .header #mobile-login{display: block;float: right;padding: 20px 0 0;}
}


/**/
footer .ftop{background: #1c75bc;padding: 40px 0 35px;}
footer .ftop .container{display: flex;justify-content: space-between;}
footer .fbot{background: #196bac;padding: 30px 0 20px;}
#fcontact,#fabout{float: left;margin-right: 80px;}
#fapp{float: left;}
#fcontact{color: #fff;}
#fcontact>p{font-size: 18px;}
#fcontact h1{font-weight: 700;color: #fff;font-size: 28px;border-bottom: 1px solid #fff;display: inline-block;}
#fcontact .fhotline{float: left;margin-right: 80px;}
#fcontact .fhotline h3{color: #fff;font-weight: normal;margin: 0 0 10px;}
#fcontact .fhotline h3 span{color: #ffff00;}
#fcontact .fhotline dl dt{color: #fff;}
#fcontact .fhotline dl dd{color: #fff200;}
#fcontact .femail{float: left;}
#fcontact .femail dl{margin-top: 36px;}
#fcontact .femail dl dt{font-weight: normal;color: #fff;}
#fcontact .femail dl dd{color: #fcf203;}
/**/
#fabout ul{padding: 0;margin: 0 0 30px;list-style: none;}
#fabout ul li a{color: #fff;}
/**/
#fapp{color: #fff;}
/**/
.fbot{color: #fff;text-align: center;}
.fbot ul{list-style: none;padding: 0;margin: 0;}
.fbot ul li{display: inline-block;}
.fbot ul li a{color: #ddd;padding: 0 10px;border-right: 1px solid #ddd;}
.fbot ul li:last-child a{border-right: none;}

ul.fnav{list-style: none;padding: 28px 0 0;margin: 0;text-align: center;}
ul.fnav li{display: inline-block;}
ul.fnav li a{border-right: none;}
/* REPONSIVE */
@media (max-width: 767px){
    footer .ftop .container {
        display: block
    }
    #fcontact,#fabout,#fapp{width: 100%;margin-right: 0;margin-bottom: 60px;}
    #fapp{margin-bottom: 0;}
    #fabout{padding-right: 10px;}
    #fabout>ul{float: left;margin-right: 80px;}
    #fapp>p:nth-child(5){float: left; margin-right: 80px;}
    #fapp>p:nth-child(6){margin-top: 67px;}
}
@media (max-width: 661px){
    #fabout>ul{float: none;margin-right: 0;}
    #fapp>p:nth-child(5){float: none; margin-right: 0;}
    #fapp>p:nth-child(6){margin-top: 0;}
}