@font-face {
    font-family: 'WebSegoeUI';
    font-style: normal;
    font-weight: 300;
    src: url('font/SEGOEUIL.TTF')  format('truetype');
}
@font-face {
    font-family: 'WebSegoeUI';
    font-style: normal;
    font-weight: 400;
    src: url('font/SEGOEUI.TTF')  format('truetype');
}
@font-face {
    font-family: 'WebSegoeUI';
    font-style: normal;
    font-weight: 500;
    src: url('font/SEGOEUISB.TTF')  format('truetype');
}
@font-face {
    font-family: 'WebSegoeUI';
    font-style: normal;
    font-weight: 700;
    src: url('font/SEGOEUIB.TTF')  format('truetype');
}